*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family:'Open sans',sans-serif;
}
body{
    font-family:'Open sans',sans-serif;
    background : #182c53;
}
header{
    background-image: linear-gradient(to bottom right,#4e9ef4,#2878e8);
    width: 100%;
    clear: both;
    display:inline-block;
}
.menu{
    width: 100%;
    margin: 0 auto;
}
.logo{
    font-size:  2rem;
    display: inline-block;
}
.logo a{
    text-decoration: none;
    color:#eff8ff;
}

nav{
    float:right;
}
nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 12px;
    float:left;
}
nav ul li a{
    text-decoration: none;
    color:#dcedfd;
    font-weight: bold;
}

iframe{
    width: 100%;
    height: 400px;
}
.presentacion{
    text-align: center;
    background-image: linear-gradient(to bottom right,#8e8c9f,#53525d);
}
.tarjeta-id img{
    margin: 0;
    padding: 0;
    border: 0;
    width: 300px;
    height: auto;
    border-radius: 100%;
    border: 5px solid #dfe0e6;
}
.tarjeta-id p{
 font-weight: bold;
    color: #f5f6f8;
}
.proyectos li{
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px 10px;
    
}
.proyectos h2{
    color:#edfffd ;
}
.proyectos img{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: auto;
    border-radius: 10%;
    border: 10px solid #00ffee;
}
