
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Open sans',sans-serif;
  background-image: linear-gradient(to bottom right,#403F44,#1E1B32);
  
}


nav{
    display: flex;
    justify-content: center;
}
 .pie-pagina{
  
  width: 100%;
 background-image:linear-gradient(to bottom right,#fdc639,#ff7c60)

 }
 .pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  /* separa las columnas */
  display: grid; 
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  padding: 45px 0px;
 }
 .pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .pie-pagina .grupo-1 .box figure img{
  width: 250px;
 }
 .pie-pagina .grupo-1 .box h2{
    color: #451703;
    margin-bottom: 25px;
    font-size: 30px;
 }
 .pie-pagina .grupo-1 .box p{
  color:#fffaeb ;
  margin-bottom: 10px;
 }
 .pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fef0c7;
  margin-right: 10px;
  background-color: #da6d05;
  text-align: center;

 }
 .pie-pagina .grupo-2{
  background-color: #fff;
  padding: 15px 10px;
  text-align: center;
 }
.pie-pagina .grupo-2 small{
  font-size: 16px;
}
@media screen and (max-width:800px) {
  .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    
  }
}  
